@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: black;
  gap: 2px;
  grid-auto-flow: dense;
  position: relative;
}

.custom-grid > * {
  background-color: white;
  position: relative;
}

.nav-text {
  -webkit-text-stroke: 0.5px black;
}